@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

* { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; -o-font-smoothing:antialiased; font-smoothing:antialiased; }

.cuerpo{
  margin:0px;
  padding:0px;
	font-family: "Open Sans", arial;
	background:#e0e0e0;
	color:#000;
	/*font-weight:300;*/
}

h1{
	font-family: "Open Sans", arial;
	font-weight:300;
	float: left;
	width: 55%;
	margin-left: 5px;
	font-size: 40px;
	margin-bottom: 40px;
}
h2{
	margin:0px;
	font-family: "Open Sans", arial;
	font-weight: bold;
}
.container2{
	position: absolute;
	margin:50px;
	width: 90%;
	margin-top: auto;
	margin-left:10px;
	-webkit-transform:scale(0.9);
}
a.wide, a.box{
	text-decoration:none;
	color:#000;
	-webkit-transition: -webkit-transform 0.1s;
	position:relative;
	overflow:hidden;
}

a.wide h2, a.box h2{
	position:absolute;
	bottom:5px;
	font-size:14px;
}

a.wide h2.top, a.box h2.top{
	position:static;

	font-size:14px;
}
a.wide i, a.box i{
font-size: 60px;
text-align: center;
display: block;
margin-top: 10px; /* outside Codepen is actually 30px */
}
a.wide:hover, a.box:hover{
	-webkit-transform: scale(1.05);
}

a.wide:active, a.box:active{
	-webkit-transform: scale(1);
}
.wide{
	width:32%;
	height:200px;
	overflow:hidden;
	font-size:13px;
	padding:10px;
	display:block;
	float:left;
	margin:5px;
}

.box{
	width:20%;
	height:200px;
	overflow:hidden;
	font-size:13px;
	padding:10px;
	display:block;
	float:left;
	margin:5px;
}
.lime{background:#61b812;}
.orange{background:#e76022;}
.blue{background:#1E90FF;}
.redgay{background:#DA312E;}
.yellow{background:#dbb701;}
.bluefish{background:#02b9e3;}
.magenta{background:#d22a4e;}
.homeColor{background:#fff;}
.black{color:#000;}
.spacer{
	width:100%;
	margin-right: 50px;
	float:left;
}
.logo-imagen{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
/* The navigation menu */
.navbar2 {
  overflow: hidden;
  background-color: #2194f3;
}

/* Navigation links */
.navbar2 a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav2 {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav2 .subnavbtn2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar2 a:hover, .subnav2:hover .subnavbtn2 {
  background-color: #111e6c;
}

/* Style the subnav content - positioned absolute */
.subnav-content2 {
  display: none;
  position: absolute;
  left: 0;
  background-color: #111e6c;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content2 a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content2 a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav2:hover .subnav-content2 {
  display: block;
}